<%- include('../includes/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

            <div class="form-style-8">
                <h2>Enter Details</h2>
                <form action="/signup" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="email" name="email" placeholder="Email" value="<%= oldInputs.email %>"/>
                    <input type="password" name="password" placeholder="Password" value="<%= oldInputs.password %>"/>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" value="<%= oldInputs.confirmPassword %>"/>
                    <% if(error) { %>
                        <div class="user-message user-message--error">
                            <%= error %>
                        </div>
                    <% } %>
                    <button type="submit">Signup</button>
                </form>
            </div>

            <%- include('../includes/end.ejs') %>