<%- include('../includes/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>

        <%- include('../includes/header.ejs') %>

        <% if (orders.length <= 0) { %>
            <h1>No Order Details</h1>
        <% } else { %>
            <% orders.forEach(order => { %>
                <h3>Order Id: <%= order.orderId %> <a class='invoice-link' href="/order-invoice/<%= order.orderId %>">Invoice</a>
                </h3>
                <ul>
                <% order.products.forEach(product => { %>
                    <li class="order"><%= product.productDetails.title %> (Quantity: <%= product.quantity %>)</li>
                <% }); %>
                </ul>  
                <hr>              
            <% }); %>
        <% } %>

<%- include('../includes/end.ejs') %>