<%- include('../includes/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <% if (products.length <= 0) { %>
        <h1>No Products in Cart</h1>
    <% } else { %>
        <div>
            <% products.forEach(product => { %>
                <div class="cartItem">
                    <div class="cartImage">
                        <img src="/<%= product.productId.imageUrl %>" alt="productImage">
                    </div>
                    <div class="cartProductDetails">
                        <div>Title: <%= product.productId.title %></div>
                        <div>Price: $<%= product.productId.price * product.quantity %></div>
                        <div>Description: <%= product.productId.description %></div>
                        <div>Quantity: <%= product.quantity %></div>
                        <div class="remove-link"><a href="/remove-from-cart/<%= product.productId.id %>">Remove</a></div>
                    </div>
                </div>
            <% }); %> 
            <hr>
            <div class="purchase"><a href="/purchase">Order Now</a></div>   
        </div>
    <% } %>

<%- include('../includes/end.ejs') %>