<%- include('../includes/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>

        <%- include('../includes/header.ejs') %>

        <% if (records.length <= 0) { %>
            <h1>No Order Details</h1>
        <% } else { %>
            <% records.forEach(records => { %>
                <% records.forEach(record => { %>
                <div class="cartItem">
                    <div class="cartImage">
                        <img src="<%= record.products.imageUrl %>" alt="productImage">
                    </div>
                    <div class="cartProductDetails">
                        <div>Title: <%= record.products.title %>
                        </div>
                        <div>Price: $<%= record.products.price %>
                        </div>
                        <div>Quantity: <%= record.quantity %>
                        </div> 
                    </div>
                </div>
                <% }); %>
            <% }); %>
        <% } %>

<%- include('../includes/end.ejs') %>