<%- include('../includes/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>

        <%- include('../includes/header.ejs') %>

        <% if (records.length <= 0) { %>
            <h1>No Order Details</h1>
        <% } else { %>
            <% records.forEach(product=> { %>
                <div class="cartItem">
                    <div class="cartImage">
                        <img src="<%= product.imageUrl %>" alt="productImage">
                    </div>
                    <div class="cartProductDetails">
                        <div>Title: <%= product.title %>
                        </div>
                        <div>Price: $<%= product.price %>
                        </div>
                        <div>Quantity: <%= product.qty %>
                        </div>
                        <div>Date Of Purchase: <%= product.orderDate.substr(0,10) %>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } %>

<%- include('../includes/end.ejs') %>